# See http://help.github.com/ignore-files/ for more about ignoring files.

/xls/PHPExcel

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/e2e
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/res
/src

# System Files
.DS_Store
Thumbs.db

/package-lock.json
/protractor.conf.js
/README.md
/tsconfig.json
/tslint.json
/.editorconfig
/angular.json
/karma.conf.js
/package.json
